<!-- main-footer -->
<footer class="main-footer">
    <div class="large-container">
        <div class="widget-section">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget contact-widget mt_10">
                        <div class="widget-content">
                            <div class="support-box">
                                <div class="icon-box"><i class="icon-3"></i></div>
                                <a href="tel:912345678">91 2345 678</a>
                                <span>Gọi điện tới đường dây nóng 24/7</span>
                            </div>
                            <ul class="info mb_30 clearfix">
                                <li>57 heol isaf Đường Station, Cardiff, Vương quốc Anh</li>
                                <li><a href="mailto:info@example.com">info@example.com</a></li>
                            </ul>
                            <ul class="social-links">
                                <li><a href="index.html"><i class="icon-13"></i></a></li>
                                <li><a href="index.html"><i class="icon-14"></i></a></li>
                                <li><a href="index.html"><i class="icon-15"></i></a></li>
                                <li><a href="index.html"><i class="icon-16"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget">
                        <div class="widget-title">
                            <h4>Tài nguyên</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="about.html">Về chúng tôi</a></li>
                                <li><a href="shop.html">Cửa hàng</a></li>
                                <li><a href="cart.html">Xe đẩy</a></li>
                                <li><a href="index.html">Thương hiệu</a></li>
                                <li><a href="index.html">Ứng dụng di động</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget">
                        <div class="widget-title">
                            <h4>Ủng hộ</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="index.html">Đánh giá</a></li>
                                <li><a href="contact.html">Liên hệ</a></li>
                                <li><a href="index.html">Chính sách hoàn trả</a></li>
                                <li><a href="index.html">Hỗ trợ trực tuyến</a></li>
                                <li><a href="index.html">Hoàn tiền</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget links-widget">
                        <div class="widget-title">
                            <h4>Thông tin cửa hàng</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="shop.html">Bán chạy nhất</a></li>
                                <li><a href="shop.html">Mặt hàng bán chạy nhất</a></li>
                                <li><a href="shop.html">Hàng mới đến</a></li>
                                <li><a href="shop.html">Giảm giá chớp nhoáng</a></li>
                                <li><a href="shop.html">Sản phẩm giảm giá</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="footer-widget subscribe-widget">
                        <div class="widget-title">
                            <h4>Đặt mua</h4>
                        </div>
                        <div class="widget-content">
                            <p>Luôn cập nhật thông tin về các sự kiện sắp tới, hội thảo trên web và các diễn
                                biến thú vị.</p>
                            <div class="form-inner">
                                <form action="contact.html" method="post">
                                    <div class="form-group">
                                        <input name="email" placeholder="Địa chỉ email" required="" type="email" />
                                        <button type="submit"><i class="icon-12"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="bottom-inner">
                <div class="copyright">
                    <p>Bản quyền © 2025 <a href="index.html">Camel</a>, Inc. Mọi quyền được bảo lưu</p>
                </div>
                <!-- <ul class="footer-card">
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1572569511254-d8f925fe2cbb?auto=format&fit=crop&w=1200&q=80&sig=117" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1593305841991-05c297ba4575?auto=format&fit=crop&w=1200&q=80&sig=118" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1580910051074-3eb694886505?auto=format&fit=crop&w=1200&q=80&sig=119" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1518444065439-e933c06ce9cd?auto=format&fit=crop&w=1200&q=80&sig=120" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1546054454-aa26e2b734c7?auto=format&fit=crop&w=1200&q=80&sig=121" /></a>
                    </li>
                    <li><a href="index.html"><img alt=""
                                src="https://images.unsplash.com/photo-1526738549149-8e07eca6c147?auto=format&fit=crop&w=1200&q=80&sig=122" /></a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->
<!--Scroll to top-->
<div class="scroll-to-top">
    <svg class="scroll-top-inner" viewbox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>